#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IBKR Trader Workstation
Exec=
Icon=ibkr-tws
Categories=Application;
StartupWMClass=install4j-jclient-Launcher
