[Desktop Entry]
Name=Lite XL
Icon=lite-xl
Exec= %F
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true
