[Desktop Entry]
Name=Obsidian
Icon=obsidian
Exec=_EXEC_
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true
