[Desktop Entry]
Name=ONLYOFFICE
Icon=onlyoffice
Exec=upk launch onlyoffice %F
Terminal=false
Type=Application
Categories=Office;
MimeType=application/msword;application/vnd.ms-excel;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;
StartupNotify=true

