[Desktop Entry]
Name=LosslessCut
Icon=losslesscut
Exec=_EXEC_
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Video;
StartupNotify=true
