#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IBKR Desktop
Exec=_EXEC_
Icon=ibkr-desktop
Categories=Application;
StartupWMClass=install4j-launcher-Main
