[Desktop Entry]
Name=Tor Browser
Icon=tor-browser
Exec=
Type=Application
Categories=Network;WebBrowser;Security;
StartupNotify=true
StartupWMClass=Tor Browser
