[Desktop Entry]
Name=Krita
Icon=krita
Exec=
Terminal=false
Type=Application
Categories=Creative;Graphics;
MimeType=application/x-krita;image/openraster;
